@import 'compass';

.slider {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;

	// Slides wrapper
	&__wrapper {
		height: 100%;
		list-style: none;

		// Clear fix
		@include clearfix();

		// Prevent blinking issue
		// Not tested. Experimental.
		-webkit-backface-visibility: hidden;
		-webkit-transform-style: preserve-3d;
	}

	// Single slide
	&__item {
		height: 100%;
		float: left;
		clear: none;
	}

	// Slider arrows
	&__arrows {

		&-item {
			position: absolute;
			display: block;
			margin-bottom: -20px;
			padding: 20px;
			cursor: pointer;

			&--right { bottom: 50%; right: 30px; }
			&--left { bottom: 50%; left: 30px; }

		}

	}

	// Slider navigation
	&__nav {
		position: absolute;
		bottom: 30px;

		// Navigation item
		&-item {
			width: 12px;
			height: 12px;
			float: left;
			clear: none;
			display: block;
			margin: 0 5px;
			background: #fff;

			// Navigation current item
			&--current {
				background: #ccc;
			}

			&:hover {
				background: #ccc;
			}
		}

	}

}
