language: node_js

notifications:
  email:
    on_success: never
    on_failure: change

node_js:
  - '6.0'

before_script:
  - npm install

script:
  - npm run lint
  - npm run test
  - npm run build
