.glide {
	$this: &;

	position: relative;
	width: 100%;
	height: 100%;

	&__wrapper {
		overflow: hidden;
	}

	&__track {
		position: relative;
		width: 100%;
		height: 100%;
		list-style: none;
		backface-visibility: hidden;
		transform-style: preserve-3d;
		touch-action: pan-Y;
		overflow: hidden;
		padding: 0;

		&--dragging {
			cursor: grabbing;
			user-select: none;
		}
	}

	&__slide {
		width: 100%;
		user-select: none;
		-webkit-touch-callout: none;
		-webkit-tap-highlight-color: transparent;

		a {
			user-select: none;
			-webkit-user-drag: none;
			-moz-user-select: none;
			-ms-user-select: none;
		}
	}

	&__arrows {
		-webkit-touch-callout: none;
		user-select: none;
	}

	&__arrow {
		cursor: pointer;
	}

	&__bullets {
		-webkit-touch-callout: none;
		user-select: none;
	}

	&--slider {
		#{$this}__slide {
			float: left;
			clear: none;
		}

		#{$this}__arrow {}
	}

	&--carousel {
		&#{$this}--vertical {
			#{$this}__track {
				overflow: visible;
			}
		}

		#{$this}__slide {
			float: left;
			clear: none;
		}
	}

	&--slideshow {
		#{$this}__wrapper {
			height: 100%;
		}

		#{$this}__slide {
			height: 100%;
			position: absolute;
			top: 0; left: 0;
			z-index: -1;
			-webkit-transform-style: preserve-3d;
			-webkit-transform: translate3d(0px, 0px, 0px);

			&--active {
				z-index: 1;
			}
		}
	}
}