@import "variables";

#{$glide-selector} {
  $this: &;

  position: relative;
  width: 100%;
  height: 100%;

  &#{$glide-element-separator}track {
    overflow: hidden;
  }

  &#{$glide-element-separator}slides {
    position: relative;
    width: 100%;
    height: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;

    &#{$glide-modifier-separator}dragging {
      user-select: none;
    }
  }

  &#{$glide-element-separator}slide {
    flex: 1 0 auto;
    width: 100%;
    white-space: initial;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;

    a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
  }

  &#{$glide-element-separator}arrows {
    -webkit-touch-callout: none;
    user-select: none;
  }

  &#{$glide-element-separator}bullets {
    -webkit-touch-callout: none;
    user-select: none;
  }

  &#{$glide-modifier-separator}carousel {
    &#{$this}#{$glide-modifier-separator}vertical {
      #{$this}#{$glide-element-separator}slides {
        overflow: visible;
      }
    }
  }

  &#{$glide-modifier-separator}slideshow {
    #{$this}#{$glide-element-separator}track {
      height: 100%;
    }

    #{$this}#{$glide-element-separator}slide {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      -webkit-transform-style: preserve-3d;
      -webkit-transform: translate3d(0, 0, 0);

      &#{$glide-modifier-separator}active {
        z-index: 1;
      }
    }
  }
}
