@import "variables";

.#{$glide-class} {
  $this: &;

  $se: $glide-element-separator;
  $sm: $glide-modifier-separator;

  position: relative;
  width: 100%;
  box-sizing: border-box;

  * {
    box-sizing: inherit;
  }

  &#{$se}track {
    overflow: hidden;
  }

  &#{$se}slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    margin: 0;
    padding: 0;

    &#{$glide-modifier-separator}dragging {
      user-select: none;
    }

    .#{$glide-class}#{$sm}slider &,
    .#{$glide-class}#{$sm}carousel & {
      white-space: nowrap;
      display: flex;
      flex-wrap: nowrap;
      will-change: transform;
    }

    .#{$glide-class}#{$sm}slideshow & {
      height: 100%;
      will-change: opacity;
    }
  }

  &#{$se}slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;

    a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    .#{$glide-class}#{$sm}slideshow & {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: -1;
      opacity: 0;
      -webkit-transition: opacity 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
      transition: opacity 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
      // Flashing issue fix
      -webkit-transform-style: preserve-3d;
      -webkit-transform: translate3d(0px, 0px, 0px);
    }

    &#{$sm}active {
      .#{$glide-class}#{$sm}slideshow & {
        z-index: 1;
        position: relative;
        opacity: 1;
      }
    }
  }

  &#{$se}arrows {
    -webkit-touch-callout: none;
    user-select: none;
  }

  &#{$se}bullets {
    -webkit-touch-callout: none;
    user-select: none;
  }

  &#{$sm}rtl {
    direction: rtl;
  }
}
