@import "variables";

.#{$glide-class} {
  $this: &;

  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  &#{$glide-element-separator}arrows {
    position: absolute;
  }

  &#{$glide-element-separator}arrow {
    position: absolute;
    z-index: 2;
    color: white;
    text-transform: uppercase;
    font: 11px Arial, sans-serif;
    padding: 9px 12px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    opacity: 1;
    transition: opacity 150ms ease, border 300ms ease-in-out;
    cursor: pointer;

    &:focus { outline: none; }
    &:hover { border-color: white; }

    &#{$glide-modifier-separator}disabled {
      opacity: 0.33;
    }
  }

  &#{$glide-element-separator}bullets {
    position: absolute;
    z-index: 2;
    list-style: none;
  }

  &#{$glide-element-separator}bullet {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 300ms ease-in-out;
    cursor: pointer;

    &.active {
      background-color: white;
    }

    &:focus {
      outline: none;
    }

    &:hover,
    &:focus {
      border: 2px solid white;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &#{$glide-modifier-separator}dragging {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  &#{$glide-modifier-separator}horizontal {
    #{$this}#{$glide-element-separator}arrows {
      top: 50%;
      width: 92%;
      margin-left: 4%;
    }

    #{$this}#{$glide-element-separator}arrow {
      transform: translateY(-50%);

      &#{$glide-modifier-separator}prev {
        left: 0;
      }

      &#{$glide-modifier-separator}next {
        right: 0;
      }
    }

    #{$this}#{$glide-element-separator}bullets {
      bottom: 8%;
      left: 0;
      width: 100%;
      height: 12px;
      text-align: center;
    }

    #{$this}#{$glide-element-separator}bullet {
      margin: 0 5px;
    }
  }

  &#{$glide-modifier-separator}vertical {
    #{$this}#{$glide-element-separator}arrows {
      left: 50%;
      height: 88%;
      margin-top: 6%;
    }

    #{$this}#{$glide-element-separator}arrow {
      transform: translateX(-50%);

      &#{$glide-modifier-separator}prev {
        top: 0;
      }

      &#{$glide-modifier-separator}next {
        bottom: 0;
      }
    }

    #{$this}#{$glide-element-separator}bullets {
      top: 50%;
      right: 8%;
      width: 12px;
      height: auto;
      transform: translateY(-50%);
    }

    #{$this}#{$glide-element-separator}bullet {
      vertical-align: middle;
    }
  }
}
